body {
  font-family: 'Roboto Slab', sans-serif;
  background-color: #f8f8ff;
  height: 100%;
  min-height: 100%;
  color: rgba(0,0,0,0.87);
}

h2 {
  font-weight: 100;
  margin-top: 0px;
  font-size: 24px;
  text-shadow: 0px 1px 3px rgba(0,0,0,0.1);
}

footer {
  font-family: 'Cutive Mono';
  font-weight: 100;
  font-size: 12px;
  text-align: center;
  margin: 0 auto;
  position: fixed;
  bottom: 2em;
  left: 0;
  right: 0;
  width: 400px;
  color: rgba(0,0,0,0.5)
}

.fade-in {
  animation-name: fadeIn;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

.zoom-in {
  animation-name: zoomIn;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

#container {
  text-align: center;
  margin: 0px auto;
  margin-top: 200px;
  width: 100%;
}

#settings {
  margin: 0 auto;
  margin-top: 0px;
  width: 420px;
  height: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
}

output {
  display: inline;
  font-size: 18px;
  font-weight: 100;
  width: 80px;
  height: 24px;
  min-height: 24px;
  text-align: right;
  margin-right: 60px;
  text-shadow: 0px 1px 3px rgba(0,0,0,0.1);
  color: rgba(0,0,0,0.87)
}

input[type=range] {
  width: 220px;
  display: inline;
  float: left;
  height: 24px;
  margin-left: 30px;

  -webkit-appearance: none;
  background-color: inherit;
  user-select: none;
}

input:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 200px;
  height: 1px;
  background: rgba(0,0,0,0.2);
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border-width: 1px;
  border-color:rgba(0,0,0,0.45);
  border-style: solid;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background: white;
  margin-top: -9px;
  box-shadow: 0px 1px 2px rgba(0,0,0,0.2);
}

.fade-out {
  animation-name: fadeOut;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  cursor: default;
  pointer-events: none;
}

#image-form {
  display: none;
  font-weight: 700;
}

#choose-image-button {
  font-size: 60px;
  width: 100%;
  border: none;
  text-shadow: 0px 2px 3px rgba(0,0,0,0.1);
  transition-duration: 0.1s;
  transition-timing-function: ease-in-out;
}

#choose-image-button:hover {
  color: #f8f8ff;
  text-shadow: 0px 2px 10px rgba(0,0,0,0.5);
  cursor: pointer;
}

#image-canvas {
  display: none;
}

a.small {
  display: inline;
  text-decoration: none;
}

mark {
  background-color: inherit;
  color: rgba(0,0,0,0.87);
}

p {
  color: rgba(0,0,0,0.4);
  width: 400px;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 80px;
  text-align: left;
  font-weight: 100;
  font-size: 12px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }

  50% {
    opacity: 1;
  }
}

.spinner {
  margin: 80px auto;
  width: 70px;
  text-align: center;
  opacity: 0;
  position: fixed;
  left: calc(-50vw + 50%);
  right: calc(-50vw + 50%);
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: rgba(0,0,0,0.87);

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1s infinite ease-in-out both;
  animation: sk-bouncedelay 1s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}
