body {
  font-family: 'Roboto Slab', sans-serif;
  background-color: #f8f8ff;
  height: 100%;
  min-height: 100%;
  color: rgba(0,0,0,0.87);
  text-align: center;
}

h1 {
  font-weight: 100;
  margin-top: 140px;
  font-size: 64px;
  text-shadow: 0px 2px 3px rgba(0,0,0,0.1);
  margin-bottom: 30px;
}

.fade-in {
  animation-name: fadeIn;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

.zoom-in {
  animation-name: zoomIn;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

a {
  font-weight: 100;
  color: rgba(0,0,0,0.87);
}

a:hover {
  color: rgba(0,0,0,0.55);
}

#container {
  text-align: center;
  margin: 0px auto;
  margin-top: 100px;
  width: 800px;
}

circle {
  transition-duration: 0.1s;
  transition-timing-function: ease-in-out;
  transform-origin: center;
}

circle:hover {
  transform: scale(0.95);
}

ul {
  text-align: center;
  /*text-shadow: 0px 2px 4px rgba(0,0,0,0);*/
  font-weight: 100;
  padding: 0;
}

li {
  font-size: 48px;
  list-style-type: none;
  display: inline;
}

svg {
  opacity: 0;
}

svg.visible {
  animation-name: appear;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
  opacity: 1;
}

.colour-label {
  font-size: 10px;
  font-weight: 100;
  z-index: 10;
  color: black;
  mix-blend-mode: color-burn;
}

footer {
  font-family: 'Cutive Mono';
  font-weight: 100;
  font-size: 12px;
  text-align: center;
  margin: 0 auto;
  position: fixed;
  bottom: 2em;
  left: 0;
  right: 0;
  width: 400px;
  color: rgba(0,0,0,0.5)
}

@keyframes appear {
  0% {
    transform: scale(0.6);
    opacity: 0;
  }
  50% {
    transform: scale(1.05);
    opacity: 1;
  }
  75% {
    transform: scale(0.96);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }

  50% {
    opacity: 1;
  }
}
