body {
  font-family: 'Roboto Slab', sans-serif;
  background-color: #f8f8ff;
  height: 100%;
  min-height: 100%;
  color: rgba(0,0,0,0.87);
  text-align: center;
}

h1 {
  font-weight: 100;
  margin-top: 100px;
  font-size: 64px;
  text-shadow: 0px 2px 3px rgba(0,0,0,0.1);
  margin-bottom: 30px;
}

a {
  font-weight: 100;
  color: rgba(0,0,0,0.87);
  display: inline-block;
  margin: 12px 0;
  text-decoration: underline;
  text-decoration-color: rgba(0, 0, 0, 0.1);
}

h1 > a {
  text-decoration: none;
}

a:hover {
  color: rgba(0,0,0,0.55);
  cursor: pointer;
}

circle {
  transition-duration: 0.1s;
  transition-timing-function: ease-in-out;
  transform-origin: center;
  pointer-events: all;
}

circle:hover {
  r: 55px;
}

.circle-shadow {
  opacity: 0.1;
  pointer-events: none;
}

ul {
  text-align: center;
  /*text-shadow: 0px 2px 4px rgba(0,0,0,0);*/
  font-weight: 100;
  padding: 0;
}

li {
  font-size: 48px;
  list-style-type: none;
  display: inline;
}

svg {
  opacity: 0;
  overflow: visible;
}

svg.visible {
  animation-name: appear;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
  opacity: 1;
}

.colour-label {
  font-size: 14px;
  font-weight: 100;
  z-index: 10;
  opacity: 0.3;
  pointer-events: inherit;
}

footer {
  font-family: 'Cutive Mono';
  font-weight: 100;
  font-size: 12px;
  text-align: center;
  margin: 0 auto;
  position: fixed;
  bottom: 2em;
  left: 0;
  right: 0;
  width: 400px;
  color: rgba(0,0,0,0.5)
}

@keyframes appear {
  0% {
    transform: scale(0.6);
    opacity: 0;
  }
  50% {
    transform: scale(1.05);
    opacity: 1;
  }
  75% {
    transform: scale(0.96);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes rubberBand {
  from {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, .95, 1);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}
